@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}

.header {
    max-width: 1440px;
    margin: 0 auto 6rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        font-size: 1.6rem;
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-size: 1.6rem;
        color: $green;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url('../images/cart.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem 1.5rem;
        background-position: center center;
        position: relative;
        border: 1px solid $orange;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: 1rem;
        top: .6rem;

    }
}
.logo {
    display: block;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 12.3rem;
    height: 3.2rem;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 18.7rem;
    z-index: 0;
    &__item {
        margin-left: 12rem;
        max-width: 37.8rem;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        flex-basis: 763px;
        height: 763px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image {
        width: 92%;
    }
    &__bth {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        &::hover {
            .main__bth {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
            }
        }
        &::before {
            content: '';
            background-color: $green;
            width: 1.1rem;
            height: 1.1rem;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }
        &_1 {
            top: 53px;
            left: 70px;
            &::before {
                bottom: 11px;
                right: -30px;
            }
        }
        &_2 {
            top: 200px;
            right: -3px;
            &::before {
                bottom: 11px;
                right: 93px;
            }
        }
        &_3 {
            bottom: -43px;
            right: 250px;
            &::before {
                bottom: 50px;
                right: 30px;
            }
        }
    }
    &__food {
        display: block;
    }
    &__tomato {
        position: absolute;
        bottom: 100px;
        right: 0;
        z-index: -1;
    }
    &__avocado {
        position: absolute;
        top: 100px;
        right: 0;
        z-index: -1;
    }
    &__pepper {
        position: absolute;
        top: 400px;
        left: 0;
        z-index: -1;
    }
    &__beans {
        position: absolute;
        bottom: 150px;
        left: 0;
        z-index: -1;
    }
    &__cucumber {
        position: absolute;
        top: 0;
        left: 530px;
        z-index: -1;
    }

}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    padding: 2.5rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
}
.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 6rem;
    &__text {
        margin-top: 6rem;
        max-width: 70rem;
    }
    &__slider {
        overflow: hidden;
        padding-top: 10rem;
    }
}
.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid $green;
        border-radius: 1.5rem;
    }
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top: -6rem;
        &::after {
            color: $green;
        }
    }
    &-button-prev {
        left: initial;
        right: 10rem;
    }
}